.lottery {
  width: 920px;
  max-width: 96%;
  margin: 2em auto;
  padding: 1em;
  background: #fff;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}